<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600432026259-6b3l8moa5rkm30ak7t33ntdk5fcqs0tb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600432026259-6b3l8moa5rkm30ak7t33ntdk5fcqs0tb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>600432026259-v36vhj8dgrp0nc4otdefbli2l7ohdufa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA160s_MKisjr1Y46KslzzfQUksP08oAuw</string>
	<key>GCM_SENDER_ID</key>
	<string>600432026259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-58226</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-58226.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600432026259:ios:86cf5bf26af9e748896366</string>
</dict>
</plist>